.outerer-container {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    overflow: auto;
}

.adding {
    font-size: 24px;
    margin-bottom: 20px;

}

.form-group {
    margin-bottom: 20px;
    padding: 10px;

}

.time {
    padding: 10px;
    margin-left: 13px;
    width: 14vw;
}

label {
    font-weight: bold;
}

.input-create-form {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 30px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.input-file {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 5px;
}

.validation-error {
    color: red;
}

.input-steps {
    margin-bottom: 1rem;
}