.like-button {
    margin-right: 3px;
}

.white {
    color: white;
}

.Like-btn {
    padding: 0.4rem 0;
    font-size: 1.4rem;
}

.orange {
    color: orange;
}

.red {
    color: rgba(193, 17, 17, 0.999);
}