.profile-pic {
    display: flex;
    align-items: center;
}

.profile-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.title {
    text-wrap: wrap;
    color: orange;
}

.username {
    font-weight: 500;
    color: grey;

}

.post-body {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    width: 500px;
    position: relative;
    height: fit-content;
}

.post-header {

    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.post-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.icons {
    margin-left: auto;
    padding: 5px;
}

.icon {
    margin-left: 10px;
    cursor: pointer;
}

.disabled-text {
    color: gray;
}

.bookmark-icon {
    cursor: pointer;
}

.right-content {
    margin-left: auto;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    height: fit-content;

}

.likeAndSave {
    display: flex;
}