.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    float: right;
    margin-top: 10px;
    margin-left: -150px;
}

.profile-details {
    color: black;
    display: inline;
    float: left;
    margin-left: 200px;
    margin-top: 10px;
}



.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.profile-created {
    display: inline;
    margin-left: 200px;
    color: orange
}

.profile-division {
    width: 70%;
}

.profile-plus-icon {
    color: orange;
    font-size: 60px;
    margin-top: 10px;
    margin-left: 650px;
}

.profile-no_recipe_text {
    margin-left: 550px;
    margin-top: 100px;
}

.profile-alignment {
    display: flex;
    align-items: center;
    color: grey;
}

.profile-age {
    margin-right: 300px;
}

.profile-fav_cuisine {
    color: grey;
    margin-right: 150px;
}

.profile-cooking_exp {
    color: orange;
    margin-left: 5px;
}

.profile-icon {
    color: orange;
    font-size: 24px;
    margin-right: 5px;
}

.profile-allergies {
    margin-top: 15px;
    color: grey;
}

.profile-insta {
    color: grey;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.profile-answer {
    color: orange;
    margin-left: 5px;
}